.footer {
  background-color: rgb(225, 223, 211);
  padding: 1em;
  color: rgb(1, 50, 32);
  border-top: 1px solid rgb(1, 50, 32);
  bottom: 0;
  font-size: .8em;
  height: 3vh;
  display: flex;
  align-items: center;
}

.footer a {
  color: rgb(1, 50, 32);
  text-decoration: none;
}

.footer p {
  color: rgb(1, 50, 32);
}

.footer a:hover {
  text-decoration: underline;
}